<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.module.cangroup.mapper.CanGroupMapper">

    <select id="getUserShop" resultType="com.kg.module.canshop.entity.CanUserShop">
        SELECT
            *
        FROM
            can_user_shop
        WHERE
            user_id = #{userId}
    </select>

    <select id="getGroupById" resultType="com.kg.module.cangroup.entity.CanGroup">
        SELECT
            *
        FROM
            can_group
        WHERE 1=1
        <if test="shopId != null and shopId != ''">
            AND shop_id = #{shopId}
        </if>
    </select>
</mapper>
